
<strong><h><%= @place.name %></h></strong>
<p><%= @place.description %></p>
<p>Located at: <%= @place.location %></p>

<p><%= link_to 'All Places', places_path %></p>   <!-- #it doesn't take params -->  
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>